<!-- Navbar -->
<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.wikipedia.org%2Fwiki%2FCaf%25C3%25A9&psig=AOvVaw1F1Y3z-dNWXJ2NVI36pmaP&ust=1684331755484000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCMjdmvL--f4CFQAAAAAdAAAAABAE"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
    </a>
  </div>
</nav>

<app-cafe-list></app-cafe-list>
